#contenedor { 
    width: 1200px;
    height: 600px;
    background-color: blueviolet;}



#cabecera { 
    width: 600px;
    height: 400px;
background-color: blue;


}


#contenido { width: 1200px; 
 height: 500px;
background-color: red;
}